{% extends "base.html" %}

{% block content %}
  <div id="map" style="height:400px; width:auto;">
  </div>

  <div class="checkbox">
    <label>
      <input id="radius_checkbox" type="checkbox" checked> Radius circles
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input id="path_checkbox" type="checkbox" checked> Paths
    </label>
  </div>

  <h2>List of locations</h2>
  <ul>
  {% for location in locations %}
  <li><a href="">{{location}}</a></li>
  {% endfor %}
  </ul>

<script>
  // Create a map in the div #map
  var map = L.mapbox.map('map', '{{config.MAPBOX_KEY}}');

  //make json call to get geojson of latest points, draw radius around it
  var circleLayer = new L.GeoJSON.AJAX("/geojson_circles/",
  {
    pointToLayer: function(feature, latlng) {
      return L.circle(latlng, feature.properties.radius)
  }})

  circleLayer.addTo(map);

  circleLayer.on('data:loaded', function() {
    map.fitBounds(circleLayer.getBounds());
  });

  var pathLayer = new L.GeoJSON.AJAX("/geojson_path/",
  {
    color:'red'
  });

  pathLayer.addTo(map);

  function toggleLayer(layer){
    if (map.hasLayer(layer)) {
            map.removeLayer(layer);
        } else {
            map.addLayer(layer);
        }
  }

  var radius_checkbox = document.getElementById('radius_checkbox');
  radius_checkbox.addEventListener('click', function()
  {
    toggleLayer(circleLayer);
  });

  var path_checkbox = document.getElementById('path_checkbox');
  path_checkbox.addEventListener('click', function()
  {
    toggleLayer(pathLayer);
  });



</script>

{% endblock %}
